body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.presentation {
  background-image: url("/133362-wallup .png");
  height: 71em;
  width: 100%;
}

#titleh2 {
  margin-top: 4em;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: Impact, fantasy;
}

#titleh22 {
  margin-top: 3em;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: Impact, fantasy;
}

#carte {
  margin-top: 10em;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px;
}

#colorMenu {
  background-color: white;
}

#card {
  margin-top: 10em;
  margin: 3em;
  height: 30em;
  border-radius: 30px;
}

#sizeCard {
  height: 20em;
  border-radius: 30px;
}

#sizeCard2 {
  height: 37em;
}

#titleCard {
  font-size: 30px;
}

.jeux {
  margin-top: 10em;
  background-image: url("/Hanamura-blur.png");
  height: 71em;
  width: 100%;
}

#textCard {
  color: white;
  font-size: 24px;
  font-family: Impact, fantasy;
}

.imgLogo {
  float: left;
  margin: 20px;
}

.titre {
  font-size: 40px;
  padding-left: 100px;
  font-weight: bold;
  color: #787878;
  font-family: Impact, fantasy;
}

#itemsMenu {
  color: #595959;
  font-family: Impact, fantasy;
  font-size: 30px;
}

#menu {
  padding-right: 120px;
  font-size: 30px;
}

.logoMenu {
  height: 80px;
  width: 80px;
}

#menuLi {
  padding-left: 30px;
}

.carousel {
  text-align: center;
  margin: 0 auto;
}

.carousel .item {
  width: 100%;
  min-height: 400px;
  /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.taille {
  height: 450px;
  width: 100%;
}

.item .active {
  height: 450px;
}

.carousel .item img {
  margin: 0 auto;
  height:1000px;
  /* Align slide image horizontally center */
}

.discord {
  margin-top: 10em;
  background-image: url("/champion.png");
  height: 71em;
  width: 100%;
}

