.presentation { 
	background-color: #2f2f2f;
	height:71em;
	width: 100%;
}
.presentTitle {
	margin-left: 5em;
	font-size: 50px;
	color: #18dcda;
	font-family: Impact, fantasy;
}
.content {
	color: #595959;
}
#card {
	margin-top: 10em;
	margin: 3em;
	height: 30em;

}
